:root {
  --color-blue-1: #5a81fa;
  --color-blue-2: #2b318a;
  --color-blue-3: #cddeff;
  --color-blue-4: #f2f5ff;
  --color-white: #ffffff;
  --color-black: #1f1f1f;
  --color-gray-1: #484c60;
  --color-gray-2: #a8b1ce;
  --color-gray-3: #f8f9fd;
  --color-success: #038100;
  --color-error: #dc1e44;
  --color-warning: #ea7000;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-gray-3);
}

header {
  display: flex;
  flex-direction: column;
  padding: 10px 150px 10px 150px;
}

header nav {
  background-color: var(--color-blue-2);
  color: var(--color-white);
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: start;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: var(--color-white);
  text-decoration: none;
}

.btn {
  background-color: var(--color-blue-2);
  color: var(--color-white);
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
