/* styles.css */
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
} */

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F9FD;
}

header {
    display: flex;
    flex-direction: column;
    padding: 10px 150px 10px 150px;
}

header nav {
    background-color: #2B318A;
    color: #fff;
    padding: 8px 24px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: start;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}