body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2em;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.search-input {
  flex: 1;
  padding: 20px 18px;
  border: none;
  border-radius: 8px 0 0 8px;
  outline: none;
  background: #cddeff;
  font-size: 16px;
  height: 3rem;
}

.search-input::placeholder {
  color: rgb(72, 76, 96);
}

.search-button {
  padding: 10px;
  border: none;
  background: #5a81fa;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 4rem;
}

.search-button img {
  width: 20px;
  height: 20px;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 30px 0px;
  margin-top: 1em;
}

.course-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 400px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-image {
  width: 100%;
  height: auto;
}

.course-title {
  font-size: 20px;
  text-align: start;
  padding: 10px;
  margin: 0;
}

.course-subtitle {
  font-size: 16px;
  padding: 10px;
  color: #6a6e83;
  margin: 0;
}

.course-description {
  font-size: 14px;
  padding: 10px;
  color: #6a6e83;
  margin: 0;
}

.course-details {
  padding: 10px;
  margin: 0;
}

.course-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #6a6e83;
}

.course-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.course-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.course-buttons a {
  text-decoration: none;
  color: #ffffff;
}

.info-button,
.enroll-button {
  background: #5a81fa;
  width: calc(40% - 10px);
}

.course-button:hover {
  background: #4850cf;
}

/* footer style */

footer {
  background-color: #2b3a8a;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
}

.footer-content .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 7em;
}

.footer-content div {
  flex: 1;
  margin: 0 20px;
}

.logo img {
  max-width: 250px;
}

.social-media a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.social-media img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1)
    contrast(1);
  width: 18px;
  height: 18px;
}

.quick-links {
  padding-left: 5em;
}

.quick-links h3,
.contact-info h3 {
  margin-bottom: 10px;
}

.quick-links ul {
  list-style: none;
  padding: 0;
}

.quick-links ul li {
  margin-bottom: 10px;
}

.quick-links ul li a {
  color: white;
  text-decoration: none;
}

.quick-links ul li a:hover {
  text-decoration: underline;
}

.contact-info img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1)
    contrast(1);
}

.contact-info p {
  margin: 8px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #1a2852;
  color: white;
}

@media screen and (max-width: 768px) {
  .course-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .info-button,
  .enroll-button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-content .logo {
    padding-left: 0;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer-content div {
    margin: 0;
    text-align: center;
  }

  .quick-links {
    padding-left: 0;
  }

  .footer-bottom {
    flex-direction: column;
  }
}
